/* Establece el margen y el padding a cero para evitar espacios no deseados */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Elimina el espacio predeterminado entre elementos */
* {
    box-sizing: border-box;
}

/* Define la fuente personalizada */
@font-face {
    font-family: 'MiFuente';
    src: url('/font/Happy.otf') format('opentype');
}

/* Haz que la imagen de fondo abarque toda la pantalla */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    opacity: 0.2; /* Ajusta la opacidad según sea necesario */
}


/* Estilos para la ventana emergente */
.ventanaEmergente {
    display: none; /* Oculta la ventana por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    z-index: 1000;
    display: flex; /* Utiliza flex para centrar el contenido */
    justify-content: center;
    align-items: center;
}

.contenidoEmergente {
    background-color: #e4e3e4;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenidoEmergente p {
    font-size: 18px;
    margin-bottom: 20px;
}

.imagenes-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.imagenEmergente {
    width: 30%; /* Ajusta el ancho de las imágenes */
    height: auto;
    border-radius: 5px;
}

.botonCanjearAhora {
    background-color: #f071d0; /* Color verde */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.botonCanjearAhora:hover {
    background-color: #9e2b7b; /* Color verde más oscuro al pasar el mouse */
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 768px) {
    .contenidoEmergente {
        width: 90%;
    }
    
    .imagenEmergente {
        width: 45%; /* Ajusta el ancho de las imágenes */
    }
}

@media (max-width: 480px) {
    .contenidoEmergente {
        width: 95%;
    }
    
    .imagenEmergente {
        width: 80%; /* Ajusta el ancho de las imágenes */
        margin-bottom: 10px; /* Añade espacio entre las imágenes */
    }

    .imagenes-container {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center;
    }
}
